<!DOCTYPE html>
<html>
    <head>
        <title>EJS 예제</title>
        <script type="text/javascript" src="./js/rsp.js"></script><!--서버/클라이언트 모두 사용 가능하게 함. 상대경로. -->
    </head>
    <body>
        <p>EJS 페이지</p> 
        <p><%= name %></p> <!--EJS 문법-->
    </body>
</html>